orbs:
  aws-ecr: circleci/aws-ecr@6.5.0
  aws-ecs: circleci/aws-ecs@1.0.0
  tf: ngs/terraform@0.0.1
version: 2.1
jobs:
  build:
    working_directory: ~/repos/crypto-tech
    docker:
      - image: microsoft/dotnet:3.0-sdk
    steps:
      - checkout
      - run: dotnet test
      - run: dotnet build -c Release
      - setup_remote_docker:
          docker_layer_caching: true
workflows:
  build-and-deploy:
    jobs:
      - aws-ecr/build-and-push-image:
          account-url: AWS_ACCOUNT_URL
          repo: "${AWS_RESOURCE_NAME_PREFIX}"
          region: AWS_DEFAULT_REGION
          tag: "${CIRCLE_SHA1}"
      - aws-ecs/deploy-service-update:
          requires:
            - aws-ecr/build-and-push-image
          aws-region: AWS_DEFAULT_REGION
          family: "marketplace-app-task"
          cluster-name: "Marketplace"
          container-image-name-updates: "container=${AWS_RESOURCE_NAME_PREFIX}-service,tag=latest"
  tf:
    jobs:
      - tf/validate:
          name: validate
      - tf/plan:
          name: plan
          requires:
            - validate
      - tf/apply:
          name: apply
          requires:
            - plan
          filters:
            branches:
              only: master